<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">


        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" style="margin-top:72px">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ url_for('boxes') }}"><i class="fa fa-table fa-fw"></i> Boxes</a>
                    </li>
                    <li>
                        <a href="{{ url_for('box_get') }}"><i class="fa fa-table fa-fw"></i> Add your own Box</a>
                    </li>
                    <li>
                        <a href="{{ url_for('map_get') }}"><i class="fa fa-table fa-fw"></i> Map</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    
